body 
{
	font-family:Verdana, Arial, Lucida, Geneva, Helvetica, sans-serif;
	font-size:14px;
	margin: 0;
	padding: 0;
	background: #f3f3f8 url("../images/body.png") repeat-x 50% 0;
}

img
{
        border: 0;
	text-decoration: none;
}

a img, a:hover img, a:visited img, a:img:active, a img:focus, a:active img, a:focus img
{
	border: 0;
        background-color: transparent;
        text-decoration: none;
}


#page
{
	/*position: absolute;
	left: 50%;
	width: 950px;
	margin-left: -475px;*/
	margin-top: 5px;
}

#bandeau
{
	height: 140px;
	color: #FFFFFF;
}

#bandeau a, #bandeau a:focus, #bandeau a:active, #bandeau a:hover, #bandeau a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

#flag
{
        margin-right: 20px;
        text-align: right;
}

#content
{
	background: #FFFFFF;
	margin: 5px;
	padding: 1em;
	border: 1px solid #ccc;
}

#nom
{
	background-color: #FFFFFF;
	font-size: 150%;
	font-weight: bold;
}

#contact
{
	background-color: #9FA8D5;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}

#recherche
{
        background-color: #9FA8D5;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
}

#enseignement
{
        background-color: #9FA8D5;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
}

#publications
{
        background-color: #9FA8D5;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
}

a:link 
{
	color:#336699;
	text-decoration: none;
}

a:visited 
{
	color:#336699;
	text-decoration: none;
}

a:hover
{
	color:#336699;
	text-decoration: underline;
}

#footer
{
	margin: 0px;
	padding-top: 5px;
	text-align:right;
}

ul
{
	list-style-type : square;
}

li
{
	
}